/*-----------------------*\
  QUADRO DE PLANOS
\*-----------------------*/

.plano {
	position: relative; /*pra ajuste do modificador*/

	padding: 10px;
	border: 1px solid #95A4A5;

	font-size: 1.4rem; /* 14px (base html), pra gerenciar a fonte do bloco*/

}

.plano--mais-popular::after {
	position: absolute; /*com referencia ao .plano*/
	top: -10px;
	left: -10px;

	padding: 0 10px; 

	background-color: #C20303;
	color: #FFF;

	font-size: 0.7142em; /* 10px */
	line-height: 2.5;

	content: "MAIS POPULAR";
}

.plano__cabecalho {
	margin: -10px; /*pra tirar o padding do article*/
	margin-bottom: 0;

	background-color: #95A4A5;
	color: #fff;

	text-align: center;
	line-height: 2.5; /*2x e meio o tamanho da fonte, quero de altura*/
	font-weight: normal;
	font-size: 2em; /*28px*/
}

.plano__preco {
	margin: 20px 0;

	text-align: center;
	font-size: 2em; /*28px*/

}

.plano__caracteristicas {
	padding: 0; /*tirar padding da lista*/
	margin: 20px 0;
	
	font-size: 1em; /*14px*/

	list-style: none;
}

.plano__caracteristicas > li {
	text-align: center;
}

.plano__rodape {
	text-align: center;
}


/*---------------------------*\
	BOTÃO BASE E MODIFICADORES
\*---------------------------*/

.botao {
	display: inline-block;
	padding: 0.8em 1.2em; /* 14px 16px */

	background-color: #AAA; 
	color: #FFF;
	border: none;

	line-height: normal;
	font-size: 1em;	/* 14px */
	text-decoration: none;
}

.botao:hover, .botao:focus { /*pseudo-classes*/
	background-color: #BBB; 
	color: #FFF;

	text-decoration: none;
} 

.botao--assinar, .botao--login {
	background-color: #127D00; 
}

.botao--assinar:hover, .botao--assinar:focus,
.botao--login:hover, .botao--login:focus {
	background-color: #0E6400;	
}

.botao--principal{
	border-radius: 10px; /* arredondar */

	background-color: #004B86;

}

.botao--principal:hover, .botao--principal:focus {
	background-color: #003B6A;
}

/*-------------------------*\
	CHAMADA
\*-------------------------*/

.chamada {
	font-size: 1.6rem; /* 16px (base html) */
	text-align: center;
}

.chamada__titulo {
	margin: 0;

	color: #FFF;

	font-size: 3.375em; /* 54px (54/16=3,375) */
	line-height: 0.9; /* altura da linha */
	text-shadow: 1px 1px #313131;
}

.chamada__subtitulo {
	margin: 60px 0;

	color: #FFF;

	font-size: 1em; /* 16px */
}

.chamada__acao {
	font-size: 1em; /* 16px */
}

@media(min-width: 992px) { /* ajuste pra telas maiores */
	.chamada {
		padding-left: 10%;
		padding-right: 10%;

		font-size: 2.2rem; /* 22px (2.2 * 10px html) */
	}
}

/*-------------------------*\
	DEPOIMENTO
\*-------------------------*/

.depoimento {
	font-size: 2.2rem; /* 22px */
}

@media(min-width: 992px) {
	.depoimento {
		padding-left: 15%;
		padding-right: 15%;

		font-size: 2.8rem; /* 28px */
	}
}

.depoimento > blockquote {
	position: relative; /*pra ajuste das aspas no before*/
	
	margin: 0;
	padding: 0 60px;

	text-align: center;
	font-size: 1em; /* 22px */
}

.depoimento > blockquote::before {
	position: absolute;
	left: 0;
	top: -0.35em;

	color: #CCC;

	font-size: 8em; /*176px (22px * 8)*/

	content: "\201C"; /* notação unicode */
}

.depoimento__autor {
	margin-top: 40px;

	text-align: center;
	font-size: 0.7272em; /* 16px */
}

.depoimento__autor > img {
	border-radius: 50%;
}

.depoimento__autor > p {
	margin-top: 10px;
}

/*-------------------------*\
	NAVEGAÇÃO (MENU)
\*-------------------------*/

.navegacao {

}

.navegacao__menu {
	float: right;
}

.navegacao--assinatura {
	text-align: center;
}

/*-------------------------*\
	BOTÃO-CHAVEADOR
\*-------------------------*/

.botao-chaveador {
	width: 24px;
	height: 24px;
	border: 0;

	background: none;
	background-image: url("../_imagens/bars.png");

	outline: none;
}

@media(min-width: 992px){
	.botao-chaveador {
		display: none;
	}
}

/*-------------------------*\
		MENU
\*-------------------------*/

.menu {
	margin: 0;
	
	font-size: 1.4rem; /* 14px */
	
	list-style: none;
}

@media(max-width: 991px){ /* telas menores */

	.menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	display: none;
	width: 200px;
	padding: 20px;
	border-right: 1px solid #EEE;

	background-color: #FBFBFB;
	}

	.menu--exibindo { 
		display: block;
	}

	.menu__item {
		display: block;

		line-height: 3;
	}

	.menu__item--botao {
		margin-top: 20px;
	}

}

@media(min-width: 992px){ /* telas maiores */
	
	.menu__item {
		display: inline-block;
		padding-right: 20px;
	}

	.menu__item:last-of-type {
		padding-right: 0px;
	}

}

/*-------------------------*\
	TITULO-FORMULARIO
\*-------------------------*/

.titulo-formulario {
	margin: 0;
	margin-bottom: 40px;

	border-bottom: 1px solid #CCC;

	font-size: 2.6rem; /* 26px */
	font-weight: normal;
	color: #004B86;
}

/*-------------------------*\
	GRUPO-ENTRADA FORMULARIO
\*-------------------------*/

.grupo-entrada {
	margin-bottom: 15px;
}

.grupo-entrada > label {
	display: block;

	font-weight: bold;
}

/*-------------------------*\
	CAMPOS FORMULARIO
\*-------------------------*/

.campo {
	display: block;
	width: 100%;
	height: 2.8em; 

	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;

	background-color: #FFF;

	font-size: 1.4rem; /* 14px */
}