body {
	font-size: 32px;
}

/* 112 */
header#cabecalho h1.logo {
	color: yellow;
}

/* 111 */
header#cabecalho .logo {
	color: purple;
}

/* 110 */
#cabecalho .logo {
	color: red;
}

/* 011 */ 
header .logo {
	color: green;
}

/* 010 */ 
.logo {
	color: blue;
}


/* Cálculo de especificidade:

Seletor: ID 	Classe 	Tag
Quantde:  1			1				1

*/

/* INLINE TEM MAIOR PRIORIDADE! */